<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-buttons>
        <ion-title class="ion-text-center">Clientes</ion-title>
        <ion-buttons slot="end">
            <ion-icon name="ellipsis-vertical-outline"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar placeholder="Buscar" (ionChange)="buscar($event)"></ion-searchbar>
    <ion-item *ngFor="let cliente of arregloClientes | filtro: textoBuscar">
        <p (click)="verDetalles(cliente.id)">CC: {{cliente.cedula}} {{cliente.nombre}}</p>
    </ion-item>
</ion-content>