<ion-menu side="start" menuId="first" contentId="principal">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>
                <ion-icon name="bicycle-outline"></ion-icon>ChargeApp</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item routerLink="clientes">
                <ion-icon name="home-outline"></ion-icon>Inicio
            </ion-item>
            <ion-item routerLink="registro-cliente">
                <ion-icon name="person-add-outline"></ion-icon>Agregar clientes
            </ion-item>
            <ion-item routerLink="registro-deuda">
                <ion-icon name="cash-outline"></ion-icon>Realizar prestamo
            </ion-item>
            <ion-item routerLink="clientes">
                <ion-icon name="people-outline"></ion-icon>Consultar clientes
            </ion-item>
            <ion-item>
                <ion-icon name="search-outline"></ion-icon>Consultar prestamos
            </ion-item>
            <ion-item>
                <ion-icon name="card-outline"></ion-icon>Gastos personales
            </ion-item>
            <ion-item>
                <ion-icon name="bar-chart-outline"></ion-icon>Total diario
            </ion-item>
            <ion-item routerLink="login">
                <ion-icon name="exit-outline"></ion-icon>Cerrar sesion
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>